@model IEnumerable<BANGTANS.Models.ArtistViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>아티스트 목록</h2>

<p style="text-align:right">
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>

<div class="row visible-lg visible-md" style="padding:10px 0px; margin: 2px;">
    <div class="col-md-1" style="min-width:100px;">@Html.DisplayNameFor(model => model.Name)</div>
    <div class="col-md-1">@Html.DisplayNameFor(model => model.DebutDate)</div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-0 col-md-8">@Html.DisplayNameFor(model => model.Description)</div>
    <div class="col-md-2" style="min-width:200px;"></div>
</div>
@foreach (var item in Model)
{
<div class="row" style="border:1px solid gray; border-left:6px solid gray; border-radius:5px; padding:10px 0px; margin: 2px;">
    <div class="col-md-1" style="min-width:100px;">@Html.DisplayFor(modelItem => item.Name)</div>
    <div class="col-md-1" style="inline-block">@Html.DisplayFor(modelItem => item.DebutDate)<span class="visible-sm visible-xs"> 데뷔</span></div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-0 col-md-8" style="overflow:hidden; white-space: nowrap; text-overflow:ellipsis;">@Html.DisplayFor(modelItem => item.Description)</div>
    <div class="col-md-2" style="max-width:150px; padding-right:0px;">
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
    </div>
</div>
}

